#result {
  
  h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .coins {
    display: flex;
    justify-content: space-around;
    p {
      font-size: 14px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      margin: 10px 0;
    }
  }
  
 
  .coinWrap {
    width: 85px;
    text-align: center;
  }

  .coin {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    position: relative;
    box-sizing: border-box;
    margin: 5px auto 15px;
    $border: 3px;
    background: #1d1d1d;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top, #ff6600, #ff6600);
    }
    &__number {
      font-size: 33px;
      text-align: center;
      color: #ff6600;
      line-height: 80px;
      width: 80px;
      font-weight: bold;
      &_light {
        color: #ffdb6d;
        line-height: 90px;
        width: 90px;
      }
    }
  }
  .cashbackCoin {
    width: 90px;
    height: 90px;
    background-image: url("../../../assets/images/result-coin.svg");
  }

  .hint {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
    span {
      font-weight: bold;
    }
    &_fail {
      font-size: 16px;
      color: #000;
      margin-bottom: 20px;
    }
  }
  
}

#error {
  text-align: center;
  padding-top: 15px;
  h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .coins {
    display: flex;
    justify-content: space-around;
    p {
      font-size: 14px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      margin: 10px 0;
    }
  }
  
 
  .coinWrap {
    width: 85px;
    text-align: center;
  }

  .coin {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    position: relative;
    box-sizing: border-box;
    margin: 5px auto 15px;
    $border: 3px;
    background: #1d1d1d;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top, #ff6600, #ff6600);
    }
    &__number {
      font-size: 33px;
      text-align: center;
      color: #ff6600;
      line-height: 80px;
      width: 80px;
      font-weight: bold;
      &_light {
        color: #ffdb6d;
        line-height: 90px;
        width: 90px;
      }
    }
  }
  .cashbackCoin {
    width: 90px;
    height: 90px;
    background-image: url("../../../assets/images/result-coin.svg");
  }

  .hint {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
    span {
      font-weight: bold;
    }
    &_fail {
      font-size: 16px;
      color: #000;
      margin-bottom: 20px;
    }
  }
  
}
.uk-modal{
    padding-top: 75px;
  }
.uk-modal-body{
    padding-top: 5px;
    padding-bottom: 5px;
  }
.uk-button {
    border-radius: 17px;
    margin-bottom: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    min-height: 44px;
    text-transform: none;
}

.uk-modal-dialog {
  background: #1d1d1d;
}
.button_link_white {
  color: white;
  margin-bottom: 12px;
  text-decoration: underline;
}

.button_link {
  color: #ffffff;
  margin-bottom: 0;
  text-decoration: underline;
}

.play-button{
  border-radius: 0px;
  // box-shadow: 0 9px 18px 0 rgba(89, 247, 74, 0.2);
  // background-image: linear-gradient(to bottom, #fdff67, #8ff212 16%, #3ead07 84%, #2bc71c);
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #ff6600, #ff6600 16%, #ff6600 66%, #ff6600);
  margin-bottom: 12px;
  border:none;
  font-size: 25px;
  // font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: white;
  min-height:44px;
  text-transform: none;
}
// .message-container{
//     font-size: 17px;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.33;
//     letter-spacing: normal;
//     text-align: center;
//     color: #ffffff;
//     margin-bottom: 13px;
//     margin-top: 0.5rem;
// }