<div class="header_title">
  <span class="inside_text">{{ 'WINNERS.WINNERS' | translate }}</span>
</div>

<div class="winners-component uk-container uk-text-center">

<div class="buttons-container uk-container info-text">
  <table class="uk-table uk-table-divider">
    <thead>
      <tr >
        <th style="width:50%">{{ 'WINNERS.PRIZE' | translate }}</th>
        <th style="width:50%">{{ 'WINNERS.DATE' | translate }}</th>
      </tr>
    </thead>
    <tr *ngFor = "let winner of dailyWinners$; let i = index" [hidden]="!showDay || !dailyWinners$">
      <td>{{winner.winSum}}</td>
      <td>{{winner.winDate}}</td>
    </tr>
    
  </table>
  
</div>
<app-button [secondary]="true" class="btn" (click)="goHome()">{{ 'WINNERS.BACK' | translate }}</app-button>
</div>
 