<div *ngIf="!isHistoryShowable()" class="cashback-component" style="max-width: 600px;
    margin-left: auto;
    margin-right: auto;">
  <div>
    <div class="available-for-transfer">
      <div class="note">
        Available to be transferred to Cashback wallet
      </div>
      <div class="amount">
        {{balance}}
      </div>
      <app-button [disabled]="balance === 0" [primary]="balance > 0" uk-toggle="target: #my-id" (click)="DoTransfer()" >Transfer</app-button>
    </div>
    <div class="will-be-available" *ngIf="amountPending > 0">
      <div class="amount">
        {{amountPending}}
      </div>
      <div class="note">
        {{message}}
      </div>
    </div>
  </div>

  <!-- This is the modal -->
  <div id="my-id" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        
      <!--<app-transfer-dialog></app-transfer-dialog>-->
      <div class="transferDialog">
      <div *ngIf="!error">
        <img src="assets/images/coins-2.svg" alt="">
        <h4>Congratulations!</h4>
        <p>Amount has been successfully transferred to your Cashback wallet.</p>
      </div>
      
      <div *ngIf="error">
        <img src="assets/images/wanted.svg" alt="">
        <h4>Something went wrong</h4>
        <p>Amount has not been successfully transferred to your Cashback wallet. Please try again later.</p>
        <app-button [primary]="true">Try Again</app-button>
      </div>
    </div>
    
      <app-button [link_button]="true" class="uk-modal-close">Back</app-button>
    </div>
  </div>
  
  <div class="buttons-container uk-container uk-text-center">
    <app-button [secondary]="true" (click)="showHistory()">History</app-button>
  </div>

</div>
<div *ngIf="isHistoryShowable()" style="max-width: 800px; margin-left:auto; margin-right:auto;">
  <app-history style="max-width: 800px; margin-left:auto; margin-right:auto;"></app-history>
</div>
<!--<div class="main-footer uk-container">-->
<!--  Служба поддержки:  111777 (бесплатно) или отправьте письмо на support@gu-group.ru-->
<!--Услуга оказывается МТС совместно с партнером "ДжЮ Груп". Акция проходит под контролем независимого наблюдателя-->
<!--    <p style="padding-left: 22px">Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>-->
<!--    <br>18+ | © 2019 GU Group. All rights reserved.-->
<!--    </p>-->
<!--</div>-->
  
  <div id="error" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <img src="assets/images/wanted.svg" alt="">
      <h4>Oups</h4>
      <p>You must log-in to access this section</p>
      <!--<p>{{errorMsg}}</p>-->
      <app-button [link_button]="true" class="uk-modal-close" (click)="goHome()">Back to Homepage</app-button>
    </div>
  </div>