@font-face {
    font-family: 'CorpidE1SCd_Regular';
    src: local('CorpidE1SCd_Regular'), local('CorpidE1SCd Regular'), url('./assets/fonts/CorpidE1SCd_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CorpidE1SCd_Bold';
    src: local('CorpidE1SCd_Bold'), local('CorpidE1SCd Bold'), url('./assets/fonts/CorpidE1SCd_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CorpidE1SCd_Light';
    src: local('CorpidE1SCd_Light'), local('CorpidE1SCd Light'), url('./assets/fonts/CorpidE1SCd_Light.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,300&subset=cyrillic');
